﻿@using MVC_Attendance_System.Models
@model MVC_Attendance_System.Models.Permission
@{List<MVC_Attendance_System.Models.ApplicationUser> students = ViewBag.students; }
@{string name = null; }
@{List<MVC_Attendance_System.Models.Permission> Premissions = ViewBag.premissions;}
@{ var date = DateTime.Now;}
@using (Html.BeginForm())
{ 
      <div id="dd">

    </div>

    <table class="table">
        <tr>
            <th>Students</th>
            <th>Note</th>
            <th colspan="2">Status</th>
       </tr>
                @foreach (var item in Premissions)
                {
                    if (students.Exists(a =>
                    {
                        bool flag = false;
                        if (a.Id == item.StudentID)
                        {
                            name = a.UserName;
                            flag = true;
                        }
                        return flag;
                    }
                ))
                    {
                <tr>
                    <td>@name</td>
                    <td>@item.Note</td>                    
                    @*<td>@(Html.DropDownList ("Status",EnumHelper.GetSelectList(typeof(Status)) ,"select Status",new
                    {
                        @onchange = @"load2("+item.StudentID+","+item.status+ ")"

                    }))</td>*@   
                           
                    <td>
                    <button class="btn btn-Danger "> @Html.ActionLink("Approve","Approved", new { std_id = item.StudentID, date = item.Date.ToString("dd/MM/yyyy") })</button>  
                    </td>

                </tr>
                        }
                    }                       
    </table>
}



