﻿@model MVC_Attendance_System.Models.Permission
@{
    ViewBag.Title = "AdminPremission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var date = ViewBag.date;}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<h2>AdminPremission</h2>
<br />
@Html.Label("Date", htmlAttributes: new { @class = "lead col-md-2" })
@*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "DateID", placeholder = "Attendance Date" } })  <br/>*@
@Html.TextBox("Date", null, new { @class = "form -control", @id = "DateID", placeholder = "Attendance Date",@value=date })
<br />

<button class="btn btn-success" id="btnShow">Show</button> 
<div id="div1">

</div>

<script>
    $("#btnShow").click(s=> {
        var attend = $("#DateID").val();
       // alert(attend)
        $("#div1").load("/Premission/_ShowPremissions?attend=" + attend);
        
    });
</script>




    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('#DateID').datepicker({
             dateFormat: "dd/mm/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-10:+10"
         });
         var attend = $("#DateID").val();

        // alert(attend)
         $("#div1").load("/Premission/_ShowPremissions?attend=" + attend);
     });

    </script>



 


