﻿@model MVC_Attendance_System.Models.Permission

@{
    ViewBag.Title = "Addpermission";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />


@using (Html.BeginForm("Addpermission", "Manage", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "lead col-md-2" })</td>
            <td> @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "DateID", placeholder = "Permission Date" } })</td>
        </tr>
        <tr>
            <td>   @Html.Label("Permission", htmlAttributes: new { @class = "lead col-md-2" })</td>
            <td>
                @Html.TextBox("Absent", "Absent", new { htmlAttributes = new { @class = "lead col-md-2" } })
            </td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "lead col-md-2" }))</td>
            <td> @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "lead col-md-2" } })</td>
        </tr>
        <tr>
            <td>  <button>Submit</button></td>
        </tr>

    </table>
}
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $(".datepicker").datepicker({
            dateFormat: "MM/dd/yyyy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+10"
        });
    })
</script>
