﻿@model MVC_Attendance_System.Models.Attendance
    @{
        ViewBag.Title = "Attendance In One Date";
    }
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<br />
@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "lead col-md-2" })
 @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control",@id="DateID", placeholder = "Attendance Date" } })  <br />
 <h4 style="display:inline" class = "lead col-md-2" >Departments</h4> @Html.DropDownList("departments", null,null,new { @class = "form-control" }) <br />
<button class="btn btn-success" id="btnShow">Show</button> <hr />
<div id="div1">

</div>
<script>
    $("#btnShow").click(s=> {
        var id = $("#departments").val();
        var attend = $("#DateID").val();        
        $("#div1").load("/Student/ShowAttendanceInOneDate/" + id + "?attend=" + attend);
        
    });
</script>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "mm/dd/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });

     });
</script>
} 