﻿@*@model List<MVC_Attendance_System.Models.ApplicationUser>
@foreach (var item in Model)
{
    <div>
        @item.UserName : @Html.TextBox(item.DepartmentID)

    </div>
}*@
@{ 
    ViewBag.Title = "Dept";
}
<br />

@Html.DropDownList("departments")

@Html.DropDownList("list")
<div id="div1">

</div>

   
<script>
    $("#div1").ready(s=> {
        var id = $("#departments").val();
        var choice = $("#list").val();
       if(choice==1)
           $("#div1").load("/Student/showStudentsInDept/" + id);
        else
           $("#div1").load("/Student/showLeaveStudent/" + id);
  
         })
</script>
    <script>
        $("#departments").change(s => {
        var id = $("#departments").val();
        var choice = $("#list").val();
        if (choice == 1)
            $("#div1").load("/Student/showStudentsInDept/" + id);
        else
            $("#div1").load("/Student/showLeaveStudent/" + id);
         })
</script>
<script>
          $("#list").change(s => {
              var id = $("#departments").val();
              var choice = $("#list").val();
              if (choice == 1)
                  $("#div1").load("/Student/showStudentsInDept/" + id);
              else
                  $("#div1").load("/Student/showLeaveStudent/" + id);
          })
</script>


     
