﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="/sc/AddCoursesToStd">
    @*Students:<br />  @Html.DropDownList("Students")@*//hdywr 3la Students f el ViewBag*@ <br />
    Departments: <br /> @Html.DropDownList("departments") <br />
</form>
