﻿@model IEnumerable<MVC_Attendance_System.Models.ApplicationUser>
@*@Html.ListBox("students")*@

 
    <table class="table" id="itable">
        <tr>
            <th>
                @*@Html.DisplayName()*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>                  
                    <button class="btn btn-success Attend" > @Html.ActionLink("Attend", "Attend", 
                                                            new { std_id = item.Id, dept_id = item.DepartmentID } , 
                                                            new { @style = "color:antiquewhite; text-decoration:none" })</button>
                   
                    <button class="btn btn-danger Leave"> @Html.ActionLink("leave", "leave", 
                                                         new { std_id = item.Id, dept_id = item.DepartmentID }, 
                                                         new { @style= "color:antiquewhite; text-decoration:none" })</button>
                    
                </td>
            </tr>
        }

    </table>
   


<script>
        $("#itable").ready(
        a=>    {
            var flag = $("#list").val();
            if (flag == 1)
                $(".Leave").hide()
            else $(".Attend").hide()
        })
</script>

