﻿
@model MVC_Attendance_System.Models.Attendance


@{
    ViewBag.Title = "Show Student Between Dates";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<h2>Departments</h2>
@Html.DropDownList("department", null, null, new { @class = "form-control" })
<br />
@Html.LabelFor(model => model.Date, "From", htmlAttributes: new { @class = "lead col-md-2" })
@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "FromDateID", placeholder = "Attendance Date" } })
<br />
@Html.LabelFor(model => model.Date, "To", htmlAttributes: new { @class = "lead col-md-2" })
@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "ToDateID", placeholder = "Attendance Date" } })
<br />
<button class="btn btn-primary Attend" id="myId">Show</button>

<div id="div1">

</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
}

<script>
        $('#myId').click(function () {
            //console.log("pla")
            var url = '@Url.Action("StudentDaysSummary", "Student")';
            var Id = $("#department").val();
            var FromDate = $("#FromDateID").val();
            var ToDate = $("#ToDateID").val();

            $('#div1').load(url, { id: Id, fromDate: FromDate, toDate: ToDate });
        })
</script>


