﻿
@model List<MVC_Attendance_System.Models.Attendance>
@{List<MVC_Attendance_System.Models.ApplicationUser> students = ViewBag.students; }
@{List<MVC_Attendance_System.Models.Permission> permissions = ViewBag.permissions; }
@{string name = null; }
@using MVC_Attendance_System.Models 
@{string date = ViewBag.date; }
@*@{TimeSpan start = new TimeSpan(9, 0, 0); }*@

<table class="table">
    <tr>
        <th>Students</th>
        <th>Attendance</th>
        <th>Leave</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        if (students.Exists(a =>
        {
            bool flag = false;
            if (a.Id == item.StudentID && item.Date.ToString("MM/dd/yyyy") == date)
            {
                name = a.UserName;
                flag = true;
            }
            return flag;
        }
    ))
        {
            <tr>
                <td>@Html.Label("name", name)</td>
                <td>@Html.DisplayFor(modelItem => item.Time_Attendance)</td>
                <td>@Html.DisplayFor(modelItem => item.Time_Leave)</td>
                <td>
                    @{var attendance = item.Time_Attendance.ToString("MM/dd/yyyy hh:mm:ss tt"); }
                    @if (item.Time_Attendance.Hour > 9 && attendance.Substring(20, 2) == "AM")
                    {
                        @Html.Label("On Time")
                    }
                    else
                    {
                        @Html.Label("late")
                    }
                    @*@if (permissions.Exists(a => a.StudentID == item.StudentID
                        && a.Date.ToString("MM/dd/yyyy")==date
                        && a.status==Status.UnKnown))
                            {
                            @Html.Label("Permission Approved")
                            }
                            else
                            {
                            @Html.Label("late")
                            }*@


                </td>
            </tr>
                            }
                        }

    @foreach (var item in permissions)
    {
        if (students.Exists(a =>
        {
            bool flag = false;
            if (a.Id == item.StudentID && item.Date.ToString("MM/dd/yyyy") == date)
            {
                name = a.UserName;
                flag = true;
            }
            return flag;
        }
          ))
        {
            <tr>
                <td>@Html.Label("name", name)</td>
                <td> </td>
                <td> </td>
                <td>
                    @if (permissions.Exists(a => a.StudentID == item.StudentID
                        && a.Date.ToString("MM/dd/yyyy")==date
                        && a.status==Status.Approved))
                       {
                        @Html.Label("Permission Approved")
                       }
                    else
                       {
                        @Html.Label("Absent")
                       }
                </td>
            </tr>
        }
    }
    
</table>