﻿@model IEnumerable<MVC_Attendance_System.ViewModels.StudentDateSummary>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Student</th>
            <th scope="col">On time</th>
            <th scope="col">Late</th>
            <th scope="col">Absent</th>
            <th scope="col">Permissions</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.UserName</td>
            <td>@item.OnTime</td>
            <td>@item.Late</td>
            <td>@item.Absent</td>
            <td>@item.Permissions</td>

        </tr>
        }
    </tbody>
</table>
