﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Attendance System </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {

                        <li>@Html.ActionLink("Attendance in One Date", "AttendanceInOneDate", "Student")</li>
                        <li>@Html.ActionLink("Attendance in Specific Period", "ShowStdBetweenDates", "Student")</li>

                        <li>@Html.ActionLink("Manage Permissions", "AdminPremission", "Premission")</li>
                    }
                    @if (User.IsInRole("Security"))
                    {
                        <li>@Html.ActionLink("Manage Attendance/Leave", "GetStudentsInDepartment", "Student")</li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Attendance System</p>
        </footer>
    </div>


</body>
</html>
