﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="display:inline">ITI Attendance System</h1> 
    @*<p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Are you a Student? </h2>
        <p>
            Login to access your attendance informarion , and to apply for persmissions.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check your Grades</h2>
        <p>You can check your grades after evaluating each course. Grades include exams, labs, projects, and other activities.</p>
        <p><a class="btn btn-default" href="http://apps.iti.gov.eg/ManagementSystem/intlogin.aspx?returnURL=http://apps.iti.gov.eg/ManagementSystem/Student/StudentGrade.aspx">Get your Grades &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ITI Home Page</h2>
        <p>You can easily find lattest news and information about training programs, branches, and tracks.</p>
        <p><a class="btn btn-default" href="http://www.iti.gov.eg/">ITI Website &raquo;</a></p>
    </div>
</div>